// Navigation Styles here

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.img-bus {
    border-top: 2px dashed silver;
    display: flex;
    justify-content: center;
}

.img-bus img {
    width: 800px;
    margin-bottom: 20px;
}

